<a href="https://colab.research.google.com/github/racheledwin/AI-lab/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 2: Import the pandas library
import pandas as pd

# Step 3: Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'Department': ['HR', 'Finance', 'IT', 'Marketing'],
    'Salary': [50000, 60000, 55000, 65000]
}

df = pd.DataFrame(data)

# Step 4: Perform operations
print("DataFrame:")
print(df)

# Access specific column
print("\nNames:")
print(df['Name'])

DataFrame:
      Name  Age Department  Salary
0    Alice   24         HR   50000
1      Bob   27    Finance   60000
2  Charlie   22         IT   55000
3    David   32  Marketing   65000

Names:
0      Alice
1        Bob
2    Charlie
3      David
Name: Name, dtype: object